<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Learn (Admin)</title>
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link href="css/style.css" rel="stylesheet">
	
</head>
<body>
<div id="preloader"></div>
<div id="main-wrapper">
<div class="nav-header" id="navheader">   </div>
<div class="header" id="header" data-title="Learn (Admin)"></div>
<div class="dlabnav" id="sidebar" data-name="Admin"> </div>
       
		<!--**********************************
            Content body start
        ***********************************-->
 <div class="content-body"> 
 </div>         
	
        <!--**********************************
            Content body end
        ***********************************-->
		
    
<div class="footer" id="footer">    </div>
</div>

    <!-- Required js -->
    <script src="js/global.min.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/admin-common.js"></script>
	
</body>

</html>