<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pending Payments</title>
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link href="css/style.css" rel="stylesheet">
	
</head>
<body>
<div id="preloader"></div>
<div id="main-wrapper">
<div class="nav-header" id="navheader">   </div>
<div class="header" id="header" data-title="Pending Payments"></div>
<div class="dlabnav" id="sidebar" data-name="Admin"> </div>
       
		<!--**********************************
            Content body start
        ***********************************-->
 <div class="content-body"> 
    <div class="userlist container-fluid"></div>
 </div>         
	
        <!--**********************************
            Content body end
        ***********************************-->
		
    
<div class="footer" id="footer">    </div>
</div>
<script>
    const userlistDOM = document.querySelector(".userlist");
    const usersobject = JSON.parse('<%-JSON.stringify(pendingusers)%>');
    let myhtml = ``;
    console.log(usersobject)
    for (let i = 0; i<usersobject.length; i++){
       myhtml += `
       <div class="card ">
           <div class="card-body d-block align-items-center">
                               
                                   <div>
                                       <h3 class="text-black">${usersobject[i].name}</h3>
                                       <p>${usersobject[i].amount}</p>
                                   
                                   </div>
                               </div>
                           </div>
                   
               
       `
    }
    userlistDOM.innerHTML = myhtml;
    </script>

    <!-- Required js -->
    <script src="js/global.min.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/admin-common.js"></script>
	
</body>

</html>