<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skill Upgrader | Upgrade your skills</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="images/fav.png" type="image/x-icon">
    <!-- swipper css link -->
    <link rel="stylesheet" href="css/swiper.min.css">
    <!-- lightcase css links -->
    <link rel="stylesheet" href="css/lightcase.css">
    <!-- odometer css link -->
    <link rel="stylesheet" href="css/odometer.css">
    <!-- line-awesome-icon css -->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- line-awesome-icon css -->
    <link rel="stylesheet" href="css/line-awesome.min.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- aos.css -->
    <link rel="stylesheet" href="css/aos.css">
    <!-- nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- main style css link -->
    <link rel="stylesheet" href="css/style-home.css">
</head>
<body>



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Preloader
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="preloader">
    <div class="drawing" id="loading">
        <div class="loading-dot"></div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Preloader
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<div class="cursor"></div>
<div class="cursor-follower"></div>


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<header class="header-section two">
    <div class="header">
        <div class="header-bottom-area">
            <div class="container custom-container">
                <div class="header-menu-content">
                    <nav class="navbar navbar-expand-xl p-0">
                        <a class="site-logo site-title" href="index.html"><img src="images/logo-head.png" alt="site-logo"></a>
                        <button class="navbar-toggler d-block d-xl-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggle-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu">
                                <li><a href="home.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li class="menu_has_children">
                                    <a href="#0">Member Area <i class="las la-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/signup">Sign Up</a></li>
                                    </ul>
                                </li>
                         
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                            <div class="header-right">
                                <div class="header-action-area">
                                    <div class="header-action">
                                        <a href="/signup" class="btn--base">SIGN UP</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section two">
    <div class="banner-element-four">
        <img src="images/element/element-6.png" alt="element">
    </div>
    <div class="banner-element-five">
        <img src="images/element/element-7.png" alt="element">
    </div>
    <div class="banner-element-eightteen">
        <img src="images/element/element-53.png" alt="element">
    </div>
    <div class="banner-element-nineteen">
        <img src="images/element/element-6.png" alt="element">
    </div>
    <div class="banner-element-twenty">
        <img src="images/element/element-7.png" alt="element">
    </div>
    <div class="banner-element-twenty-one">
        <img src="images/element/element-7.png" alt="element">
    </div>
    <div class="banner-element-twenty-two">
        <img src="images/element/element-54.png" alt="element">
    </div>
    <div class="banner-element-twenty-three">
        <img src="images/element/element-55.png" alt="element">
    </div>
    <div class="banner-element-twenty-four">
        <img src="images/element/element-56.png" alt="element">
    </div>
    <div class="banner-element-twenty-six">
        <img src="images/element/element-64.png" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-xl-12 mb-30">
                <div class="banner-content two">
                   <div class="banner-content-header" data-aos="fade-up" data-aos-duration="1200">
                        <h1 class="title">LEARN | EARN | GROW</h1>
                        <h3 class="title">Welcome to Skill Upgrader</h3>
                   </div>
                    <div class="banner-area">
                        <div class="banner-text">
                            <span>SKILL</span>
                        </div>
                        <div class="banner-left-content">
                            <div class="banner-left-video">
                                <div class="circle">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                        <defs>
                                            <path id="circlePath" d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
                                        </defs>
                                        <circle cx="150" cy="100" r="75" fill="none"/>
                                        <g>
                                            <use xlink:href="#circlePath" fill="none"/>
                                            <text fill="#6610f2">
                                                <textPath xlink:href="#circlePath">Skill Upgrader Skill Upgrader Skill Upgrader Skill Upgrader Skill Upgrader</textPath>
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                                <div class="video-main">
                                    <div class="promo-video">
                                        <div class="waves-block">
                                            <div class="waves wave-1"></div>
                                            <div class="waves wave-2"></div>
                                            <div class="waves wave-3"></div>
                                        </div>
                                    </div>
                                    <a class="video-icon video" data-rel="lightcase:myCollection" href="https://www.youtube.com/embed/LRhrNC-OC0Y">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="banner-left-arrow">
                                <img src="images/element/element-1.png" alt="element">
                            </div>
                            <div class="banner-left-intro">
                                <span>Watch Intro Video</span>
                            </div>
                            <div class="banner-left-footer">
                                <h3 class="title">Upskill to become the best version of you</h3>
                                <p>Here at skillupgrader you will learn only the practical monetizable skills like Communication, E-commerce, Entrepreneurship, content writing, designing etc.</p>
                                <div class="banner-left-btn">
                                    <a href="./signup" class="btn--base active">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="banner-thumb">
                            <img src="images/element/element-52.png" alt="element">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop"><i class="las la-angle-double-up"></i></a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Statistics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="statistics-section pb-120">
    <div class="statistics-element-one">
        <img src="images/element/element-39.png" alt="element">
    </div>
    <div class="statistics-element-two">
        <img src="images/element/element-60.png" alt="element">
    </div>
    <div class="statistics-element-three">
        <img src="images/element/element-26.png" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="statistics-left-content">
                    <h2 class="title">We are transforming lives by upskilling</h2>
                    <p>We moved heaven and earth to create this platform that will transform you by making you learn essential skills that you can apply to earn from Day 1</p>
                    <div class="statistics-left-btn">
                        <a href="./signup" class="custom-btn">ENROLL NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="statistics-item-area">
                    <div class="row mb-30-none">
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                            <div class="statistics-item">
                                <div class="statistics-icon">
                                    <img src="images/icon/icon-8.png" alt="icon">
                                </div>
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="5">0</h3>
                                        <h3 class="title">+</h3>
                                    </div>
                                    <p>Years of Research</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                            <div class="statistics-item">
                                <div class="statistics-icon">
                                    <img src="images/icon/icon-9.png" alt="icon">
                                </div>
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="1200">0</h3>
                                        <h3 class="title">+</h3>
                                    </div>
                                    <p>Champs Upskilling</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Statistics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Overview
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="overview-section pb-120">
    <div class="overview-element">
        <img src="images/element/element-24.png" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="overview-thumb">
                    <img src="images/element/element-61.png" alt="element">
                    <div class="overview-thumb-element">
                        <img src="images/element/element-62.png" alt="element">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="overview-content">
                    <h2 class="title"><span class="text--base">EARN </span> WHILE YOU LEARN !</h2>
                    <p>Our motto is to enable our students by upskilling them and helping them make money at the same time.</p>
                    <p>Our students have used the skills they learnt here and applied it to start earning from Day 1 !</p>
                    <div class="overview-btn">
                        <a href="./signup" class="btn--base active">I want to Earn Too !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Overview
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Service
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="service-section two pb-120">
    <div class="service-element-one two">
        <img src="images/element/element-23.png" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center mb-60-none">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-60">
                <div class="service-item two">
                    <div class="service-icon">
                        <img src="images/icon/icon-3.png" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="title">Unlock Growth</h3>
                        <p>Become a part of this revolution</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-60">
                <div class="service-item two">
                    <div class="service-icon">
                        <img src="images/icon/icon-4.png" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="title">Achieve Financial Goals</h3>
                        <p>Earn while you learn</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-60">
                <div class="service-item two">
                    <div class="service-icon">
                        <img src="images/icon/icon-5.png" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="title">Skyrocket your Life</h3>
                        <p>Become limitless </p>
                       
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-60">
                <div class="service-item two">
                    <div class="service-icon">
                        <img src="images/icon/icon-6.png" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="title">Practical Skills</h3>
                        <p>Learn skills that actually work in the real world</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Service
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Project
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="project-section two">
    <div class="project-element-one two">
        <img src="images/element/element-60.png" alt="element">
    </div>
    <div class="project-element-two two">
        <img src="images/element/element-65.png" alt="element">
    </div>
    <div class="container-fluid p-0">
        <div class="project-area">
            <div class="row justify-content-center mb-30-none">
                <div class="col-xl-2 offset-xl-2 col-md-12 col-lg-4 mb-30">
                    <div class="project-left-content">
                        <div class="logo-icon">
                            <img src="images/fav.png" alt="favicon">
                        </div>
                        <h2 class="title">Unlock Pro Skills</h2>
                        <p>Here at Skill Upgrader you will have exclusive access to world class resources on various practical skills</p>
                        <div class="project-left-btn">
                            <a href="./signup" class="btn--base active">Let's Begin ></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-xxl-8 col-lg-8 mb-30">
                    <div class="project-slider-area">
                        <div class="slider-prev">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="slider-next">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        <div class="project-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-thumb two">
                                        <img src="images/project/project-3.png" alt="project">
                                        <div class="project-overlay">
                                            <div class="overlay-content">
                                                <h4 class="title">Social Media Mastery</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-thumb two">
                                        <img src="images/project/project-4.png" alt="project">
                                        <div class="project-overlay">
                                            <div class="overlay-content">
                                                <h4 class="title">Entrepreneurship</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-thumb two">
                                        <img src="images/project/project-5.png" alt="project">
                                        <div class="project-overlay">
                                            <div class="overlay-content">
                                                <h4 class="title">E-commerce and Much More...</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Project
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start About
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="about-section pt-120">
    <div class="about-element-one two">
        <img src="images/element/element-39.png" alt="element">
    </div>
    <div class="container">
        <div class="about-area">
            <div class="row justify-content-center align-items-center mb-30-none">
                <div class="col-xl-6 col-lg-6 mb-30">
                    <div class="box-wrapper two">
                        <div class="box3"></div>
                        <div class="box1">
                            <div class="box-element-one">
                                <img src="images/element/element-59.png" alt="element">
                            </div>
                            <div class="box-element-two">
                                <img src="images/element/element-7.png" alt="element">
                            </div>
                        </div>
                        <div class="box2">
                            <div class="box-element-five">
                                <img src="images/element/element-16.png" alt="element">
                            </div>
                            <div class="box-element-six">
                                <img src="images/element/element-7.png" alt="element">
                            </div>
                        </div>
                    </div>
                    <div class="about-thumb">
                        <img src="images/element/element-58.png" alt="element">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-30">
                    <div class="about-content">
                        <h2 class="title">Have any Queries? <span class="text--base">We have them answered !</span></h2>
                        <p class="para">We understand that this platform is very different than what traditional educational websites offer. We believe in the practical approach. You won't be watching thousands of videos sitting passively, rather you will read only the best strategies and ideas that will be applicable in the real world. </p>
                        <div class="about-btn">
                            <a href="#faq" class="btn--base">See F.A.Qs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br><br>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End About
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Team
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- <section class="team-section two ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-header-wrapper">
                    <div class="section-header">
                        <h2 class="section-title">Skill Upgrader Expert Team</h2>
                        <p>We rank among the best in the US, Argentina, and UK. Our apps get featured as best in class, and our clients love our work.</p>
                    </div>
                    <div class="slider-nav-area">
                        <div class="slider-prev">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="slider-next">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-12">
                <div class="team-slider-area two">
                    <div class="team-slider two">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img src="images/team/team-5.png" alt="team">
                                        <div class="team-social-area">
                                            <ul class="team-social">
                                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="team-details.html">Nilkusa Agawal</a></h3>
                                        <span class="sub-title">Sr. Marketer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img src="images/team/team-4.png" alt="team">
                                        <div class="team-social-area">
                                            <ul class="team-social">
                                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="team-details.html">Abhisek Roy</a></h3>
                                        <span class="sub-title">Havey Truck Instructor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img src="images/team/team-6.png" alt="team">
                                        <div class="team-social-area">
                                            <ul class="team-social">
                                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="team-details.html">Rashmika Mandana</a></h3>
                                        <span class="sub-title">Lady Instructor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Team
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Client
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="client-section two pb-120">
    <div class="client-element-one two">
        <img src="images/element/element-66.png" alt="element">
    </div>
    <div class="client-element-two two">
        <img src="images/element/element-45.png" alt="element">
    </div>
    <div class="client-element-three">
        <img src="images/element/element-46.png" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="section-header">
                    <h2 class="section-title">Hear from our Happy Hustlers</h2>
                    <p>Over 1200+ Hustlers have benfitted from the program.</p>
                </div>
            </div>
        </div>
        <div class="client-area">
            <div class="row justify-content-center align-items-end mb-30-none">
                <div class="col-xl-8 col-lg-8 col-md-6 mb-30">
                    <div class="client-slider-area two">
                        <div class="client-slider-two">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="client-item">
                                        <div class="client-header">
                                            <div class="client-quote">
                                                <img src="images/client/quote-2.png" alt="client">
                                            </div>
                                            <div class="client-thumb">
                                                <img src="images/client/client-4.png" alt="client">
                                            </div>
                                        </div>
                                        <div class="client-content">
                                            <p>We teach martial arts because we love it — not because we want to make money on you. Unlike.</p>
                                        </div>
                                        <div class="client-footer">
                                            <div class="client-footer-left">
                                                <h4 class="title">Randall Schwartz</h4>
                                                <span class="sub-title">Sr. Consultant</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="client-item">
                                        <div class="client-header">
                                            <div class="client-quote">
                                                <img src="images/client/quote-2.png" alt="client">
                                            </div>
                                            <div class="client-thumb">
                                                <img src="images/client/client-5.png" alt="client">
                                            </div>
                                        </div>
                                        <div class="client-content">
                                            <p>We teach martial arts because we love it — not because we want to make money on you. Unlike.</p>
                                        </div>
                                        <div class="client-footer">
                                            <div class="client-footer-left">
                                                <h4 class="title">Andru Smith</h4>
                                                <span class="sub-title">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="client-item">
                                        <div class="client-header">
                                            <div class="client-quote">
                                                <img src="images/client/quote-2.png" alt="client">
                                            </div>
                                            <div class="client-thumb">
                                                <img src="images/client/client-4.png" alt="client">
                                            </div>
                                        </div>
                                        <div class="client-content">
                                            <p>We teach martial arts because we love it — not because we want to make money on you. Unlike.</p>
                                        </div>
                                        <div class="client-footer">
                                            <div class="client-footer-left">
                                                <h4 class="title">Randall Schwartz</h4>
                                                <span class="sub-title">Sr. Consultant</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="client-right-thumb">
                        <img src="images/client/client-big.png" alt="client">
                        <div class="client-thumb-element">
                            <img src="images/element/element-67.png" alt="element">
                        </div>
                        <div class="client-thumb-overlay">
                            <div class="client-thumb-video">
                                <div class="video-main">
                                    <div class="promo-video">
                                        <div class="waves-block">
                                            <div class="waves wave-1"></div>
                                            <div class="waves wave-2"></div>
                                            <div class="waves wave-3"></div>
                                        </div>
                                    </div>
                                    <a class="video-icon video" data-rel="lightcase:myCollection" href="https://www.youtube.com/embed/LRhrNC-OC0Y">
                                        <i class="las la-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="client-pagination"></div>
                <div class="slider-prev">
                    <i class="las la-long-arrow-alt-left"></i>
                </div>
                <div class="slider-next">
                    <i class="las la-long-arrow-alt-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Client
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="contact-section two pb-120" id="faq">
    <div class="container">
        <div class="contact-element-one">
            <img src="images/element/element-6.png" alt="element">
        </div>
        <div class="contact-element-two">
            <img src="images/element/element-39.png" alt="element">
        </div>
        <div class="contact-element-three">
            <img src="images/element/element-26.png" alt="element">
        </div>
        <div class="contact-element-four">
            <img src="images/element/element-7.png" alt="element">
        </div>
        <div class="contact-area">
            <div class="contact-element-five">
                <img src="images/element/element-60.png" alt="element">
            </div>
            <div class="contact-element-six">
                <img src="images/element/element-60.png" alt="element">
            </div>
            <div class="row mb-30-none">
                
                <div class="col-xl-12 col-lg-7 mb-30">
                    <div class="contact-form-area">
                        <div class="contact-form-header">
                            <div class="left">
                                <h2 class="title">Frequently Asked Questions <span class="text--base">F.A.Qs</span></h2>
                                <p>Your questions answered.</p>
                            </div>
                            <div class="right">
                                <div class="circle">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                        <defs>
                                            <path id="circlePathtwo" d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
                                        </defs>
                                        <circle cx="150" cy="100" r="75" fill="none"/>
                                        <g>
                                            <use xlink:href="#circlePathtwo" fill="none"/>
                                            <text fill="#6610f2">
                                                <textPath xlink:href="#circlePathtwo">Skill Upgrader Skill Upgrader Skill Upgrader Skill Upgrader Skill Upgrader </textPath>
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                                <div class="contact-logo">
                                    <img src="images/fav.png" alt="favicon">
                                </div>
                            </div>
                        </div>
                        <br><br>
                                <h4 class="title">Q.1 <span class="text--base">I know nothing about the skills you teach. Is it a problem?</span></h4>
                                <p>Of course not.

                                    This is a learning platform, and you are here to learn.
                                    
                                    Just follow our step-by-step lessons and guidance, and you will start transforming your life.</p>
                                    <br><br>
                                    <h4 class="title">Q.1 <span class="text--base">I know nothing about the skills you teach. Is it a problem?</span></h4>
                                    <p>Of course not.
    
                                        This is a learning platform, and you are here to learn.
                                        
                                        Just follow our step-by-step lessons and guidance, and you will start transforming your life.</p>      
                        
                                        <br><br>
                                        <h4 class="title">Q.1 <span class="text--base">I know nothing about the skills you teach. Is it a problem?</span></h4>
                                        <p>Of course not.
        
                                            This is a learning platform, and you are here to learn.
                                            
                                            Just follow our step-by-step lessons and guidance, and you will start transforming your life.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->




<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<footer class="footer-section two">
    <div class="footer-element-three">
        <img src="images/element/element-40.png" alt="element">
    </div>
    <div class="footer-element-seven two">
        <img src="images/element/element-39.png" alt="element">
    </div>
    <div class="footer-element-eight">
        <img src="images/element/element-7.png" alt="element">
    </div>
    <div class="footer-area ptb-120">
        <div class="footer-area-element">
            <img src="images/element/element-57.png" alt="element">
        </div>
        <div class="container">
            <div class="footer-top-area">
                <div class="row mb-30-none">
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <ul class="footer-contact-list">
                                <li>
                                    <span class="sub-title">Call us</span>
                                    <h4 class="link-title"><a href="tel:0369569032">+11 0369 569 032</a></h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <ul class="footer-contact-list">
                                <li>
                                    <span class="sub-title">Write to Us</span>
                                    <h4 class="link-title"><a href="mailto:support@skillupgrader.com">support@skillupgrader.com</a></h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <ul class="footer-contact-list">
                                <li>
                                    <span class="sub-title">Office hours</span>
                                    <h4 class="link-title">Mon-Sat 9:00 - 7:00</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="row mb-30-none">
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <h5 class="title">About us</h5>
                            <p>Skill Upgrader is one of a kind platform that helps individuals learn practical skills and apply them to succeed in life. </p>
                            <ul class="footer-social">
                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                        <div class="footer-widget">
                            <h4 class="title">Explore</h4>
                            <ul class="footer-list">
                                <li><a href="/user">Account</a></li>
                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <h5 class="title">Sign up Newsletter</h5>
                            <form class="footer-subscribe-form">
                                <input type="email" class="form--control" placeholder="Enter Mail">
                                <button type="submit"><i class="las la-angle-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrapper two">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 text-center">
                    <div class="copyright-area">
                        <div class="footer-logo">
                            <a class="site-logo site-title" href="index.html"><img src="images/logo-head-v2.png" alt="site-logo"></a>
                        </div>
                        <p>Copyright © 2022 <a href="index.html">Skill Upgrader</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->




<!-- jquery -->
<script src="js/jquery-3.6.0.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- swipper js -->
<script src="js/swiper.min.js"></script>
<!-- lightcase js-->
<script src="js/lightcase.js"></script>
<!-- odometer js -->
<script src="js/odometer.min.js"></script>
<!-- viewport js -->
<script src="js/viewport.jquery.js"></script>
<!-- aos js file -->
<script src="js/aos.js"></script>
<!-- nice select js -->
<script src="js/jquery.nice-select.js"></script>
<!-- isotope js -->
<script src="js/isotope.pkgd.min.js"></script>
<!-- tweenMax js -->
<script src="js/TweenMax.min.js"></script>
<!-- main -->
<script src="js/main.js"></script>


</body>
</html>
