<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Learn</title>
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">


	<!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
	
</head>
<body>

    <div id="preloader"></div>
    <div id="main-wrapper">
    <div class="nav-header" id="navheader">   </div>
    <div class="header" id="header" data-title="Learn"></div>
    <div class="dlabnav" id="sidebar" data-name="<%= user.name%>"> </div>
		
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				
				<div class="row">
					<!-- <div class="col-xl-3 col-xxl-12">
						<div class="card">
							<div class="card-body">	
                               
                                <input type="text" class="user-input" name="search"> <br><br>
                                <a href="javascript:void(0);" class="btn btn-primary text-uppercase">Search</a>
							
						</div>
					</div>

				</div> -->

                <div class="col-sm-6">
                    <a target="_blank" href="https://drive.google.com/file/d/14Ou-8vyO9xQkrRjDjc0D-gjyXWdRg95s/view?usp=sharing">
                    <div class="card">
                        <div class="card-body">
                            <span class="badge badge-success badge-l">1</span>
                            <div class="d-flex align-items-center mt-3 mb-2">
                                <h2 class="fs-30 mb-0 me-3">Start Learning</h2>
                            </div>
                        </div>
                    </div>
                </a>
                </div>

                <div class="col-sm-6">
                    <a target="_blank" href="https://drive.google.com/file/d/13awGAgr9Yfwx4CCYhjof9iqKVwM2EOcS/view?usp=sharing">
                    <div class="card">
                        <div class="card-body">
                            <span class="badge badge-success badge-l">2</span>
                            <div class="d-flex align-items-center mt-3 mb-2">
                                <h2 class="fs-30 mb-0 me-3">Start Earning</h2>
                            </div>
                        </div>
                    </div>
                </a>
                </div>

                <div class="col-sm-6">
                    <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <span class="badge badge-success badge-l">3</span>
                            <div class="d-flex align-items-center mt-3 mb-2">
                                <h2 class="fs-30 mb-0 me-3">1st Month</h2>
                            </div>
                        </div>
                    </div>
                </a>
                </div>

                <div class="col-sm-6">
                    <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <span class="badge badge-success badge-l">4</span>
                            <div class="d-flex align-items-center mt-3 mb-2">
                                <h2 class="fs-30 mb-0 me-3">2nd Month</h2>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
               
                <div class="col-sm-6">
                    <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <span class="badge badge-success badge-l">5</span>
                            <div class="d-flex align-items-center mt-3 mb-2">
                                <h2 class="fs-30 mb-0 me-3">3rd Month</h2>
                            </div>
                        </div>
                    </div>
                </a>
                </div>

                <div class="col-sm-6">
                    <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <span class="badge badge-success badge-l">6</span>
                            <div class="d-flex align-items-center mt-3 mb-2">
                                <h2 class="fs-30 mb-0 me-3">4th Month</h2>
                            </div>
                        </div>
                    </div>
                </a>
                </div>

                <div class="col-sm-6">
                    <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <span class="badge badge-success badge-l">7</span>
                            <div class="d-flex align-items-center mt-3 mb-2">
                                <h2 class="fs-30 mb-0 me-3">5th Month</h2>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-sm-6">
                    <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <span class="badge badge-success badge-l">8</span>
                            <div class="d-flex align-items-center mt-3 mb-2">
                                <h2 class="fs-30 mb-0 me-3">6th Month</h2>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                
            </div>
        </div>
       </div>
 
        <!--**********************************
            Content body end
        ***********************************-->
		
        <div class="footer" id="footer"></div>
		


	
   
    <!-- Required js -->
    <script src="js/global.min.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
    <script src="js/common.js"></script>
	
</body>

</html>