<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Pending Payments</title>
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">


	<!-- Style css -->
    <link href="css/style.css" type="text/css" rel="stylesheet">
	
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="waviy">
		   <span style="--i:1">L</span>
		   <span style="--i:2">o</span>
		   <span style="--i:3">a</span>
		   <span style="--i:4">d</span>
		   <span style="--i:5">i</span>
		   <span style="--i:6">n</span>
		   <span style="--i:7">g</span>
		   <span style="--i:8">.</span>
		   <span style="--i:9">.</span>
		   <span style="--i:10">.</span>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->

	
            <!-- row -->
			

			<div class="login-body"> 
			<div class="userlist container-fluid"></div>
				</div>
 
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="center-footer">
		
            <div class="copyright">
                <p>© - <a href="#" target="_blank">Skill Upgrader</a> | 2022</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		
		<script>
		 const userlistDOM = document.querySelector(".userlist");
		 const usersobject = JSON.parse('<%-JSON.stringify(pendingusers)%>');
		 let myhtml = ``;
		 console.log(usersobject)
		 for (let i = 0; i<usersobject.length; i++){
			myhtml += `
			<div class="card ">
			    <div class="card-body d-block align-items-center">
									
										<div>
											<h3 class="text-black">${usersobject[i].name}</h3>
											<p>${usersobject[i].amount}</p>
										
										</div>
									</div>
								</div>
						
					
			`
		 }
		 userlistDOM.innerHTML = myhtml;
		 </script>

	
   
    <!-- Required js -->
    <script src="js/global.min.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>

	
</body>

</html>