<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Referral</title>
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">


	<!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
	
</head>
<body>
	<div id="preloader"></div>
    <div id="main-wrapper">
    <div class="nav-header" id="navheader">   </div>
    <div class="header" id="header" data-title="Referral"></div>
	<div class="dlabnav" id="sidebar" data-name="<%= user.name%>"> </div>
	<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
		
				<div class="row">
					<div class="col-xl-3 col-xxl-12">
						<div class="card">
							<div class="card-header border-0 pb-0">
								<div>
									<h4 class="card-title mb-2">Refer Friends</h4>
									<span class="fs-12">Share the link with your Friends</span>
								</div>
								<div class="dropdown">
									<a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
											<path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
											<path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
									</a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="./terms">Read Policies</a>
							
									</div>
								</div>
							</div>
							<div class="card-body">	
								<div class="user-bx">
									<img src="images/ion/man (1).png" alt="">
									<div>
										<h6 class="user-name"><%= user.name %></h6>
										<span class="meta">https://skillupgrader.com/signup?ref=<%= user.username %></span>
									</div>
									<i class="fa fa-check-circle check-icon"></i>
								</div>
								<br>
								<ul class="user-list">
									<li><img src="images/ion/bussiness-man.png" alt=""></li>
									<li><img src="images/ion/hacker.png" alt=""></li>
									<li><img src="images/ion/man (2).png" alt=""></li>
									<li><img src="images/ion/woman.png" alt=""></li>
									<li><img src="images/ion/man.png" alt=""></li>
									<li><img src="images/ion/woman.png" alt=""></li>
								
								</ul>
								
								<div class="text-secondary fs-16 d-flex justify-content-between font-w600 mt-4">
									<span>Total Income Per Referral</span>
									<span>₹ 500</span>
								</div>
							</div>
							<div class="card-footer border-0 pt-0">
								<a onclick="copyref();" class="btn btn-primary d-block btn-lg text-uppercase">Copy Referral Link</a>
							</div>
						</div>
					</div>
	
					<div class="col-xl-6 col-xxl-12">
						<div class="row">
							<div class="col-xl-12">
								<div class="card ">
									<div class="card-body d-sm-flex d-block align-items-center">
									
										<div>
											<h3 class="text-black">Referral Policy</h3>
											<p>Successful referral will be counted only once the contact sign's up Successfully. Please note that it can take upto 48 hours for Successful Referral to be reflected in your dashboard</p>
											<a class="text-black" href="./terms">Read all Terms & Conditions >></a>
										</div>
									</div>
								</div>
							</div>
						
							
						</div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
		
      
        <div class="footer" id="footer"></div>
       


	</div>
   
	<script>
		function copyref(){
			let refcode = "<%= user.username%>";
			let reflink = `https://skillupgrader.com/signup?ref=${refcode}`;
			navigator.clipboard.writeText(reflink).then(
  			  function () {
   					 /* success */
					 alert("Referral link copied successfully")
   				 },
    		  function () {
  					  /* failure */
					  alert('Copying failed ! Please copy manually')
  				  }
		);
		}
	</script>

    <!-- Required js -->
    <script src="js/global.min.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/common.js"></script>
	
</body>

</html>