<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Terms & Conditions</title>
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">


	<!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
	
</head>
<body>

    <div id="preloader"></div>
    <div id="main-wrapper">
    <div class="nav-header" id="navheader">   </div>
    <div class="header" id="header" data-title="Terms & Conditions"></div>
	<div class="dlabnav" id="sidebar" data-name="<%= user.name%>"> </div>
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
						<div class="row">
							<div class="col-xl-12">
								<div class="card ">
									<div class="card-body d-sm-flex d-block align-items-center">
									
										<div>
											<h3 class="text-black">Referral Policy</h3>
											<p>Please note that withdraw is allowed for a minimum balance of 1000 and above. On requesting withdrawal by pressing the button above you will recieve the amount through your desired payment method.  </p>
											<a class="text-black" href="./referral">Goto Referral Page ></a>
										</div>
									</div>
								</div>
							</div>	
						</div>

						<div class="row">
							<div class="col-xl-12">
								<div class="card ">
									<div class="card-body d-sm-flex d-block align-items-center">
									
										<div>
											<h3 class="text-black">Withdraw Policy</h3>
											<p>Please note that withdraws are processed automatically within 30 days 
												once your available balance reaches ₹ 1000 or above provided that you have added your UPI ID in the profile page. If you have not recieved 
												the amount yet please make sure you have added your payment details in the profile section. 
												If 30 days have passed and you still have not recieved the amount please contact us on 
												support@skillupgrader.com </p>
											<a class="text-black" href="./profile">Add / Change Payment Details</a>
										</div>
									</div>
								</div>
							</div>
						
							
						</div>

						<div class="row">
							<div class="col-xl-12">
								<div class="card ">
									<div class="card-body d-sm-flex d-block align-items-center">
									
										<div>
											<h3 class="text-black">Refund Policy</h3>
											<p>We do not offer any refunds under any condition.</p>
										
										</div>
									</div>
								</div>
							</div>	
						</div>

						<div class="row">
							<div class="col-xl-12">
								<div class="card ">
									<div class="card-body d-sm-flex d-block align-items-center">
									
										<div>
											<h3 class="text-black">Privacy Policy</h3>
											<p><br>
												SkillUpgrader (“Company”, “we”, “us” and “our”) respects the privacy of its users accessing its website. For the purposes of this privacy policy (“Privacy Policy”) and wherever the context so requires “you”, “your”, “yourself”, “user” shall mean any natural or legal person who accesses or uses the Website and in the event that a natural person is representing a business entity, reference to such terms shall include a reference to the business entity.
												<br><br>
												<b>Information provided by you is used only:</b> <br>

												a)To facilitate your use of the Website; <br>
												
												b)To respond to your concerns, inquiries or address your requests for information about the various services we offer; <br>
												
												c)To provide you with information about Company’s services/products and send you information, materials and offers from the Company; <br>
												
												d)To send you important information regarding the Website, changes to Company’s terms of service and various policies and/or other miscellaneous information; <br>
												
												e)To send you surveys and marketing communications that the Company believes may be of interest to you; <br>
												
												f)To personalize your experience on our Website; <br>
												
												g)To complete and fulfill your purchase, if you purchase any content or avail of any service from the Website, for example, to have your payments processed, communicate with you regarding your purchase and provide you with related customer service; <br>
												
												h)To administer product downloads; <br>
												
												i)To conduct internal reviews and data analysis for the Website (e.g., to determine the number of visitors to specific pages within the Website); <br>
												
												j)To improve the services, content and advertising on the Website; <br>
												
												k)To protect the integrity of the Website; and <br>
												
												l)To comply with legal requirements and disclosures provided under the laws of India. <br>
												
												3.3 Your Information will be kept confidential to the maximum possible extent and in accordance with the provisions set out herein. <br>
												<br>
												<b>Cookies & Shared Objects</b> <br>
												
												3.4 Cookies are alphanumeric identifiers that our Website places onto your computer’s hard drive. Company may store temporary or permanent ‘cookies’ on your computer. We may also use cookies and/or shared objects to track and understand the traffic on our Website. Cookies identify your computer so that we can recognize you the next time you visit us. We may use cookies and/or shared objects to collect and store some information about you, such as the name of the domain and host from which you access the internet, the internet protocol address of the computer you are using, the date and time you access our Website and the internet address of the Website from which you linked directly to our Website. We use this information to better understand our users and customize our site for users’ particular preferences. You can erase or choose to block these cookies from your computer. You can configure your computer’s browser to alert you when we attempt to send you a cookie with an option to accept or refuse the cookie. If you have turned cookies off, you may be prevented from using certain features of the Website.
												<br><br>
												<b>Disclosure of Information</b><br>
												<br>
												<b>Advertising</b><br>
												
												4.1 The Company uses some third parties to administer a limited set of advertisements on our Website and portals. During this process, none of your Personal Information is leaked. However, aggregate profile information, such as user community, may be used in the selection of advertising to make sure that it has relevance to the user. On some banner ads, an embedded pixel may be present, and while it does not associate with a cookie or other personal profile information, it may return session connection information that allows advertisers to better determine how many individual users have clicked on the ad banner. We do not disclose your Personal Information to third parties for their marketing and advertising purposes.
												<br><br>
												<b>Links to other third party sites</b><br>
												
												4.2 The Website may provide third party information and links to other websites that are not affiliates of or operated or controlled by the Company including but not limited to payment gateways or social networking websites. The Company is not responsible for any form of transmission, whatsoever, received by you from any third party website and accordingly does not make any representations concerning the privacy practices or other policies of such third party websites. Under no circumstances shall the Company be deemed to control or guarantee the accuracy, integrity, or quality of the information, data, text, software, sound, photographs, graphics, videos, cookies, messages or other materials available on such websites. Any user Information provided by you to such third party websites shall be governed in accordance with the privacy policies of such websites and it is recommended that you review the privacy policy of such websites prior to using such websites. <br>
												<br>
												<b>Disclosure of Personal Information</b><br>
												
												4.3 We may disclose your Personal Information when required to do so by law or regulation, or under any legal obligation or order under law or in response to a request from a law enforcement or governmental agency or judicial, quasi-judicial or any other statutory or constitutional authority or to establish or exercise our legal rights or defend against legal claims.
												<br>
												4.4 We may disclose your Personal Information to law enforcement offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our terms or Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public.</p>
										
										</div>
									</div>
								</div>
							</div>	
						</div>
					
					
			</div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
		
        <div class="footer" id="footer"> </div>
     

		


	</div>
   
    <!-- Required js -->
    <script src="js/global.min.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
    <script src="js/common.js"></script>
	
</body>

</html>